 <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">Add Counter </h2>
  
        </div>
    </div>
</div>

 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
     <div class="card">
         <h5 class="card-header">Counter Creation Forum</h5>
         <div class="card-body">
             <form class="needs-validation" novalidate="">
             
                 <div class="form-row">

                     <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                         <label for="validationCustom03">Number</label>
                         <input type="text" class="form-control" placeholder="Counter Number" required="">
                     </div>

                     <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                         <label for="validationCustom04">Counter Service</label>
                         <select class="form-control" id="input-select">
                             <option>Choose Example</option>
                         </select>
                     </div>
                      
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                         <button class="btn btn-primary" type="submit">Submit form</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
 </div>