
@{
    string value = "C0000";
}

<aside class="page-aside">
    <div class="aside-content">
        <div class="aside-header">
            <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button">
                <span class="icon"><i class="fas fa-caret-down"></i></span>
            </button>

        </div>

        <div class="aside-nav collapse">
            <h1 class="text-center">Next in Queue</h1>
            <ul class="nav ticket-sidebar" id="listSidebar">
                @{ 
                    string value1 = "TokenNumber";
                }
                @foreach (var item in ViewBag.ListToken)
                {

                    <li style="margin-top: -29px;" id="@value1@item.Token">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h1 class="card-title bg-primary p-4"> Ticket @item.Token</h1>
                            </div>
                        </div>
                    </li>
                     
                }

            </ul>
        </div>
    </div>
</aside>


<div class="row mt-5">
    <div class="col-md-12">
        <h1 class="text-center">Active Counter</h1>
        <h1 class="text-center">
            @DateTime.Now.Date.ToString("d/MM/yyyy") <span id="MyClockDisplay" class="clock" onload="showTime()"></span>
        </h1>
    </div>
</div>




<div class="row ml-3 mt-5 counter-info">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Counter</th>
                            <th style="text-align:center;">Ticket Number</th>
                        </tr>
                    </thead>
                    <tbody id="listCurrentTicketNumber">
                    </tbody>
                </table>
            </div>
        </div>


    </div>


</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Ticket/TicketCtrl.js"></script>
@*<script src="~/Scripts/CurrentTicketNumber/CurrentTicketCtrl.js"></script>*@