@{
    ViewBag.SideBarDisable = "true";
}


<style>
    .dashboard-wrapper {
        position: relative;
        left: 0;
        margin-left: 29px;
        min-height: 870px !important;
    }
</style>


<div class="row mt-5">
    <div class="col-md-12" style="margin-top:12pc;">

        <h1 class="text-center">Get Your Ticket</h1>
        <h1 class="text-center" id="txtDisplayTicket" style="display:none;"></h1>
        <h1 class="text-center">Please select one of the options below?</h1>

        <div style="width: 20%; margin: 0 auto; margin-right: 44%;">

            <div class="row">

                <div class="form-group" style="width: 20%; margin: 0 auto;">
                    <button type="button" class="btn btn-primary" id="btnCustomer">Customer</button>
                </div>

                <div class="form-group" style="width: 20%; margin: 0 auto;">
                    <button type="button" class="btn btn-primary" id="btnNonCustomer">Non-Customer</button>
                </div>


            </div> 

        </div>
    </div>
</div>

 


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/Ticket/TicketCtrl.js"></script>