@model List<WebAppQueueManagmentSystem.ApiHelpers.Response.ListCounterTokenBody>



@foreach (var item in Model)
{

<tr>
    <td>
        <div class="card ml-3">

            <div class="card-body">
                <h2 class="card-title text-center"> <strong>@item.TicketNumber</strong> </h2>
            </div>
        </div>
    </td>
    <td>
        <div class="card ml-3">

            <div class="card-body">



                <h3 class="card-title text-center">Counter @item.CounterName</h3>

            </div>
        </div>
    </td>

</tr>

}



