
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="select">
            <h3 class="section-title">Select</h3>
            <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
        </div>
        <div class="card">
            <h5 class="card-header">Select Example</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="input-select">Example Select</label>
                        <select class="form-control" id="input-select">
                            <option>Choose Example</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="card-body border-top">
                <h3>Sizing</h3>
                <form>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Large select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option>Default select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-lg">
                            <option>Large select</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>