
 

 
<div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Create User</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="input-select">Example Select</label>
                        <select class="form-control" id="input-select">
                            <option>Choose Example</option>
                        </select>
                    </div>
                </form>
            </div>
         
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/UserHelper/ListUserCtrl.js"></script>